.footer {
    text-align: center;

    &__title {
        font-size: 1.6rem;
        color: #c3c3c3;
        font-weight: 200;
    }

    &__social {
        margin: 10px 0;
        
        &-icon {
            color: #c3c3c3;
            margin: 15px;
            font-size: 3rem;
            transition: 0.4s all;
            
            &:hover {
                color: $green-2;
            }
        }
    }
}